<p></p>

<h1 id="quienes">GERONIMO BENAVIDES ALIAS "EL MOMO"</h1>
<h3 id="intro">Semental Italiano nacido en la plata y presidente de PLATENSE </h3>
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dLJr6_KFMXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<mat-grid-list class="momito" cols="2" rowHeight="1.5:1">
    <mat-grid-tile><img src="https://pbs.twimg.com/media/EZn-vTIWsAAO5cG?format=jpg&name=medium" height="120%" width="" id="a"></mat-grid-tile>
    <mat-grid-tile><h1><section><p><strong>Momo Biografia </strong></p></section>
        Gerómino Benavides vive en Italia, es hincha fanático de Platense y miembro de KRÜ, el equipo de esports del Kun Agüero; en 2021 fue elegido “streamer del año” Y RECORDEMOS QUE VIRUZZ ES ZURDO
    </h1></mat-grid-tile>
  </mat-grid-list>  


<br><br>
 <mat-grid-list cols="2" rowHeight="1.5:1">
    <mat-grid-tile id="a"><h1><section><p><strong>MOMO ¿LIDER DE ATENTADO?</strong></p></section>
        DESPUES DE LA DERROTA CON VIRUZZ MOMO SE VOLVIO LOCO Y DESTRUTO LAS TORRES PARIENTES
    </h1></mat-grid-tile>
    <mat-grid-tile><img src="https://pbs.twimg.com/media/FEGjSBKXsAgnUUj.jpg:large" height="100%" width="" id="a"></mat-grid-tile>
</mat-grid-list>
 
