




<mat-grid-list cols="3" rowHeight="2:6">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Momo ELEGANTE</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://vocescriticas1.cdn.net.ar/252/vocescriticas1/images/58/16/581660_d2307cffb5ac11e23ddeea99a7703f4839539f630a3b94d3ed61ea9d04c9bb05/sm.jpg" alt="botinesnegros">
      <mat-card-content>
        <p class="card-text">1.000.000$</p>
        <p class="card-text">momito elegante</p>
        <p class="card-text">reuniones</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Momo INFORMATICO</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://pbs.twimg.com/media/EhQxtLxXsAAvGYt.jpg" alt="naranjas">
      <mat-card-content>
        <p class="card-text">30.000$</p>
        <p class="card-text">iNFORMATIUS PRIME</p>
        <p class="card-text">word y excel</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>MOMO NAZ#</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://pbs.twimg.com/media/ExYCoaPVcAoLIip.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">NULO</p>
        <p class="card-text">MOMO HITLERIANO</p>
        <p class="card-text">Guerra italiana</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Camperon nike</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://pbs.twimg.com/media/ExYCo5OUYAsW15K?format=jpg&name=large" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">$22.000</p>
        <p class="card-text">Nike Sportswear tech fleece kids</p>
        <p class="card-text">Invierno</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Botines</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://pbs.twimg.com/media/EhIjS40WkAAcSZ8.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">$45.000</p>
        <p class="card-text">Superfly</p>
        <p class="card-text">cesped</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Botines</mat-card-title>
      </mat-card-header>
      <img mat-card-image  src="https://pbs.twimg.com/media/EhNunlqXsAABenG.jpg:large" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p class="card-text">$28.000</p>
        <p class="card-text">nemesis</p>
        <p class="card-text">cesped</p>
        <button mat-raised-button color="accent">Comprar</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


